#nav-container{
    background-color: rgb(43,54,71);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    position:sticky;
  
    height:100vh;
}

#nav-items{
    margin-top:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height:500px;

}

.nav-item{
    display: flex;
    cursor: pointer;
    width: 130px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.nav-item p{
    font-size: 16px;
    color:white;
    margin-left:20px;
}

.nav-item img{
    width:20px;object-fit: contain;
}
