body {
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: rgb(246, 247, 248);

  font-family: "Inter";
}

* {
  box-sizing:border-box;
}

.main-content-container {
  padding-top: 90px;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 355px;
}

#heading {
  font-size: px;
  padding-top: 81px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#blueline-head{
  width: 0px;
height: 59px;
border: 3px solid #29ABE2;

}
#heading h1{
  font-size:61px;
  margin:unset;
  padding-right:60px;
}

#subhead {
  display: none;
}

.heading-add {
  font-size:27px;
  margin-left: 30px;
}

#task-container {
  display: flex;
  width:100%;
  justify-content: space-between;
  height: 550px;
  margin-top: 87px;
}

#task-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 580px;
  height: 100%;
}

.greet-container {
  width: 505px;
  display: flex;
  font-weight: bold;
  justify-content:flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 67px;
  padding-top:202px;
}

#greeting {
  text-align: left;
  font-size:47px;
}

#greet-name {
  font-size: 64px;
  font-weight: bold;
  color: rgb(40, 171, 226);
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 170px;
}

.progress {
  height:170px;
  width: 170px;
  border-radius: 30px;
  background-color: white;
  color: rgb(43, 54, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 21.5px;
  padding-bottom: 21.5px;

  transition: all 100ms ease-in-out;
}

.progress:hover {
  transform: scale(1.05);
  background-color: rgb(43, 54, 71);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}

.progress span {
  font-size: 64px;
  font-weight: 600;
}

.progress p {
  text-align: center;
}

.important-container {
  height: 170px;
  border-radius: 30px;
  background-color: white;
  color: rgb(43, 54, 71);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 100ms ease-in-out;
  padding-left: 75px;
  padding-right: 75px;
}

.important-container:hover {
  background-color: rgb(43, 54, 71);
  color: white;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}

.urgent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#urgent-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top:auto;
  padding-bottom:auto;
  margin-right:62px;
}

#num-urgent {
  font-size: 50px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#grey-line{
  width: 0px;
height: 102.02px;
border: 2px solid #D1D1D1;
}


#deadline-container-box {
  width: 314px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left:61px;
  padding-right:75px;
}

.deadline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  text-align: center;
  width:178px;
}

.deadline {
  font-weight: bold;
  font-size: 21px;
}

.deadline-container p{
  font-size:16px;
}

.todos-container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left:32.5px;
}

.todo {
  padding-top: 24px;
  padding-bottom:24px;
  height: 100%;
  width: 272.5px;
  border-radius: 30px;
  background-color: white;
  color: rgb(43, 54, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms ease-in-out;
}

.todo span{
  font-size: 64px;
  font-weight:600;
}

.todo p{
  font-weight:400;
  font-size:21px;
}

.todo:hover {
  transform: scale(1.05);
  background-color: rgb(43, 54, 71);
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.bold {
  font-weight: bold;
  font-size: 50px;
}

@media screen and (max-width: 1300px) {
  .main-content-container {
    width: 100%;
    padding-left:250px;
  }

  /*#heading {
    font-size: 22px;
  }

  .progress span {
    padding: 10px;
  }

  .progress p {
    text-align: center;
    font-size: 16px;
  }*/

}

@media screen and (max-width: 1170px) {
 /* #heading {
    padding-left: 60px;
  }
  #task-overview {
    width: 80%;
    padding-left: 0;
  }

  #task-container {
    padding-left: 60px;
  }*/

  h1 {
    font-size: 45px;
  }
  #greeting{
    font-size: 45px;
  }

  #greet-name {
    font-size: 45px;
  }

}
@media screen and (max-width: 1100px) {

  #heading {
    font-size: 20px;
    padding-top: 60px;
    padding-right: 0;
  }

  h1 {
    font-size: 40px !important;
  }

  #greeting{
    font-size: 40px;
  }

  #greet-name {
    font-size: 40px;
  }
}

@media screen and (max-width: 1000px) {
 
  .main-content-container {
    padding-left: 160px;
  }

  .todo {
    padding: 30px;
  }

  #img-todo {
    transform: scale(0.7);
  }

  #img-done {
    transform: scale(0.7);
  }

  .important-container img {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 35px !important;
  }

  .todo {
    padding: 30px;
  }

  #greeting {
    font-size: 35px;
  }

  #greet-name {
    font-size: 35px;
  }

  .heading-add {
    font-size: 20px;
  }
}


@media screen and (max-width: 850px) {
  .greet-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgb(246, 247, 248);
    margin: unset;
  }

  #greeting {
    margin-left: auto;
    margin-right: auto;
  }

  #greet-name {
    margin-left: auto;
    margin-right: auto;
  }

  #heading h1 {
    margin-bottom: 15px;
  }

  #blueline-head{
    transform: rotate(90deg);
  }
  .main-content-container {
    padding-left: 20px !important;
    padding-right: 20px;
    padding-top: 70px;
    padding-bottom: 110px;
    width: 100%;
  }

  #subhead {
    margin-top: 20px;
    display: unset;
    font-size: 18px;
  }

  #heading {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .heading-add {
    margin-left: 0;
    margin-bottom: 20px;
  }

  #task-container {
    padding-left: 0;
    padding-bottom: 0;
    height: 100%;
    align-items: center;
  }

  #task-overview {
    width: 100%;
    height: 100%;
  }

  #urgent-box {
    width: 45%;
  }
}

@media screen and (max-width: 500px) {
  .progress {
    padding: 8px;
  }

  .progress span {
    font-size: 35px;
  }

  #num-urgent {
    font-size: 35px;
  }

  .column span {
    font-size: 35px;
  }

  .deadline-container {
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
  }
  .deadline-container span {
    font-size: 16px;
  }

  .deadline-container p {
    font-size: 12px;
  }

  .important-container {
    padding: 15px;
  }

  .todo {
    padding: 10px;
  }

  #urgent-box {
    padding-right: 15px;
  }

  #logo-head-mobil {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 350px) {
  #urgent-box {
    width: 50%;
  }

  .todo {
    padding: 3px;
  }
  .urgent-container p {
    font-size: 14px;
  }

  .column p {
    font-size: 14px;
  }

  .deadline-container p {
    font-size: 14px;
  }
  .progress p {
    font-size: 14px;
  }

  .progress span {
    font-size: 18px;
  }

  .progress p {
    font-size: 14px;
  }

  .progress p {
    font-size: 14px;
  }

  #num-urgent {
    font-size: 20px;
  }

  .column span {
    font-size: 16px;
  }

  .deadline-container span {
    font-size: 14px;
  }

  .deadline-container p {
    font-size: 14px;
  }

  .important-container {
    padding: 5px;
  }

  .deadline-container {
    padding: 0;
  }

  .todo {
    width: 49%;
    justify-content: center;
  }

  .urgent-container {
    padding: 5px;
  }

  #img-todo {
    transform: scale(0.5);
  }

  #img-done {
    transform: scale(0.5);
  }

  .important-container img {
    transform: scale(0.5);
  }
}
