<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/css/head.css">
</head>
<body>-->
    <div id="head">
        <p>Kanban Project Management Tool</p>
        <div id="user-container">
            <img src="../img/question.svg">
            <img id="user-img" src="" alt="user-img">
        </div>
    </div>
<!--</body>
</html>-->
