<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>-->
    <div id="nav-container">
        <img src="../img/logo-nav.svg" />
        <div id="nav-items">
          <a href="main.html" id="summary" class="nav-item">
            <img src="../img/summary.svg" />
            <p>Summary</p>
          </a>
          <a href="board.html" id="board" class="nav-item">
            <img src="../img/board.svg" />
            <p>Board</p>
          </a>
          <a href="add_task.html"id="add-task" class="nav-item">
            <img src="../img/add_task.svg" />
            <p>Add Task</p>
          </a>
          <a href="contacts.html" id="contacts" class="nav-item">
            <img src="../img/contacts.svg" />
            <p>Contacts</p>
          </a>
        </div>
      </div> 
<!--</body>
</html>-->

